@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/SF-Pro-Display-Thin.woff2");
  src: url("../assets/fonts/SF-Pro-Display-Light.woff2");
  src: url("../assets/fonts/SF-Pro-Display-Medium.woff2");
  src: url("../assets/fonts/SF-Pro-Display-Regular.woff2");
  src: url("../assets/fonts/SF-Pro-Display-Semibold.woff2");
}

/* Variables css */
:root {
  --dark-blue: #0e49a2;
  --dark-lighter-blue: #0b53c8;
  --lighter-blue: #0b61ee;
  --light-blue: #1e64e7;
  --secondary: #eff3fa;
  --white: #fff;
  --text-color: #2e3a59;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "SF-Pro-Display", sans-serif;
  padding: 0;
  margin: 0;

  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

main {
  padding: 1em;
}

button {
  all: unset;
  font-size: 1.25rem;
  border-radius: 0.25em;
  
  padding: .5em 1.5em;
  cursor: pointer;
  transition: .5s ease;
}

button:hover {
  transform: scale(1.1);
}

.cta-light {
  background-color: var(--white);
  margin-right: .5em;
}

.cta-blue {
  color: var(--white);
  background-color: var(--light-blue);
}

/* HOME SECTION */

#home {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#home div {
  flex: 1;
  margin: auto;
  margin: .5em 0;
}

#home div:nth-child(1) {
  max-width: 45em;
}

#home div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home div > h2 {
  font-size: 1.9rem;
  padding-bottom: 0.3em;
}

#home div > h2 > span {
  color: var(--light-blue);
}

#home div > p {
  font-size: 1.3rem;
  padding: 0.5em 0;
}

#home div > image {
  width: 100%;
}

/* FUNCTIES SECTION */

.service > h2 {
  font-size: 3rem;
  color: var(--dark-blue);
  padding: 0.4em 0;
  text-align: center;
}

.service .service-container > h3 {
  font-size: 1.625rem;
  color: var(--dark-blue);
  padding: 0.4em 0;
}

.service .service-container {
  background-color: #ffff;
  border-radius: 1.5em;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 2em;
  margin: 0.5em;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service .service-container > img {
  max-width: 30%;
  max-height: 30%;
  margin-bottom: 0.5em;
}

.service > .service-grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 40em) {
  #home div > h2 {
    font-size: 2rem;
  }

  .service > .service-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .service .service-container > h3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 70em) {
  #home {
    flex-direction: row;
    padding: 6em 4em;
  }

  #home div > h2 {
    font-size: 3rem;
  }

  #home div > p {
    font-size: 1.5rem;
  }

  .service > .service-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
