@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/SF-Pro-Display-Thin.woff2");
  src: url("../assets/fonts/SF-Pro-Display-Light.woff2");
  src: url("../assets/fonts/SF-Pro-Display-Medium.woff2");
  src: url("../assets/fonts/SF-Pro-Display-Regular.woff2");
  src: url("../assets/fonts/SF-Pro-Display-Semibold.woff2");
}

/* Variables css */
:root {
  --dark-blue: #0e49a2;
  --dark-lighter-blue: #0b53c8;
  --lighter-blue: #0b61ee;
  --light-blue: #1e64e7;
  --secondary: #eff3fa;
  --white: #fff;
  --black: #000;
  --text-color: #2e3a59;
  --border: #a5c5fe;
  --cta-color: #d2e2ff;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "SF-Pro-Display", sans-serif;
  padding: 0;
  margin: 0;

  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

main {
  padding: 1em;
}

button {
  all: unset;
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover {
  transform: scale(1.1);
}

ul {
  list-style: none;
}

.cta-light {
  background-color: var(--white);
  margin: 0.7em 0;
  padding: 0.5em 1.5em;
  border-radius: 0.25em;
}

.cta-blue {
  color: var(--white);
  background-color: var(--light-blue);
  padding: 0.5em 1.5em;
  border-radius: 0.25em;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cta-blue > img {
  margin-left: 0.5em;
}

.cta-language {
  background-color: var(--cta-color);
  color: var(--black);
  border: 1px solid (var(--border));
  border-radius: 1.5em;
  font-size: 1rem;

  padding: 0.5em 1.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cta-language > img {
  margin-left: 0.2em;
}

/* HOME SECTION */

#home {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 6em 1em;
}

#home div {
  flex: 1;
  margin: auto;
  margin: 0.5em 0;
}

#home .cta-language:first-child {
  margin-right: 0.2em;
}

#home div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home div > h2 {
  font-size: 1.7rem;
  padding: 0.3em 0;
}

#home div > h2 > span {
  color: var(--light-blue);
}

#home div > p {
  font-size: 1.2rem;
  padding: 0.5em 0;
}

#home div > img {
  max-width: 100%;
  max-height: 100%;
  display: none !important;
}

/* FUNCTIES SECTION */

.service > h2 {
  font-size: 3rem;
  color: var(--dark-blue);
  padding: 0.4em 0;
  text-align: center;
}

.service .service-container > h3 {
  font-size: 1.625rem;
  color: var(--dark-blue);
  padding: 0.4em 0;
}

.service .service-container {
  background-color: #ffff;
  border-radius: 1.5em;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 2em;
  margin: 0.5em;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service .service-container > img {
  max-width: 30%;
  max-height: 30%;
  margin-bottom: 0.5em;
}

.service > .service-grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

/* FOOTER */
footer {
  background-color: var(--light-blue);
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

footer a,
footer h3,
footer h4 {
  text-decoration: none;
  color: var(--white);
}

footer .footer-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

footer .footer-wrapper .footer-logo-container {
  display: flex;
  align-items: center;
  margin-right: 2em;

}

footer .footer-wrapper .footer-menu-container {
  margin: 2em;
}

footer .footer-wrapper .footer-social-container {
  margin: 2em;
}

footer .footer-copyright-wrapper {
  max-width: 750px;
  padding-bottom: 2em;
  margin: 0 auto;
  color: var(--white);
  border: 0;
  border-top: 0.1em;
  border-style: solid;
  padding: 2em;
  padding-bottom: 2em;
}

@media (min-width: 40em) {
  #home div > h2 {
    font-size: 1.9rem;
  }

  .service > .service-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .service .service-container > h3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 70em) {
  #home {
    flex-direction: row;
    padding: 6em 4em;
  }

  #home div > h2 {
    font-size: 2.5rem;
  }

  #home div > p {
    font-size: 1.5rem;
  }

  #home div > img {
    display: block !important;
  }

  .cta-light {
    margin-right: 1em;
  }

  .service > .service-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 45em) {
  footer .footer-wrapper {
    flex-direction: column;
    padding: 2em;
  }
  footer .footer-wrapper .footer-logo-container {
    margin: 0;
  }
  footer .footer-wrapper .footer-menu-container {
    margin: 0;
  }
  footer .footer-wrapper .footer-social-container {
    margin: 0;
  }

  footer ul {
    padding: 0;
  }
}
