:root {
  --dark-blue: #0e49a2;
  --dark-lighter-blue: #0b53c8;
  --lighter-blue: #0b61ee;
  --light-blue: #1970ff;
  --secondary: #eff3fa;
}

/* NAVIGATION */

header {
  width: 100%;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: var(--dark-blue);
}

header nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  width: 100%;
  margin: 0 0.5em;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
}

a:hover {
}

section {
  padding: 1em 0;
}

/* HOME */

#home {
  height: 70vh;
  background-color: var(--secondary);

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home > h2 {
  font-size: 2.5rem;
}

#home > p {
  font-size: 1.375rem;
  text-align: center;
  padding-top: 0.5em;
}

/* COLORS SECTION */

#colors h2,
#colors h3 {
  margin-top: 1em;
}

#colors .colors-container {
  display: flex;
}

#colors .colors-container > .color {
  border-radius: 1em;
  height: 280px;
  width: 280px;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  margin: 0 0.5em;
}

#colors .colors-container > .color:first-child {
  margin-left: 0;
}

.color-1 {
  background-color: #0e49a2;
}
.color-2 {
  background-color: #0b53c8;
}
.color-3 {
  background-color: #0b61ee;
}
.color-4 {
  background-color: #1970ff;
}
.color-5 {
  background-color: #eff3fa;
}

.color-5 p {
  color: #000 !important;
}

.colors-container > .color p {
  padding-bottom: 2em;
  color: #fff;
}

/* Typography */
#typography {
  font-size: 1rem;
}

/* Buttons */

#buttons {
  height: auto;
  width: 100%;
}

#buttons p {
  padding-bottom: .5em;
}

#buttons button {
  cursor: pointer !important;
  all: unset;
  padding: 0.8em 3em;
  border-radius: 1.5em;
}

#buttons .cta-1 {
  background-color: #0e49a2;
  border: 2px solid #0e49a2;
  color: #fff;
  transition: 0.3s ease-in-out;
}

#buttons .cta-1:hover {
  background-color: #fff;
  color: #0e49a2;
  border: 2px solid #0e49a2;
}

#buttons .cta-2 {
  background-color: #0b53c8;
  border: 2px solid #0b53c8;
  color: #fff;
  transition: 0.3s ease-in-out;
}

#buttons .cta-2:hover {
  background-color: #fff;
  color: #0b53c8;
  border: 2px solid #0b53c8;
}

#buttons .cta-3 {
  background-color: transparent;
  border: 2px solid #1970ff;
  color: #1970ff;
  transition: 0.3s ease-in-out;
}

#buttons .cta-3:hover {
  background-color: #1970ff;
  color: #fff;
}