@font-face {
  font-family: "SF-Pro-Display";
  font-weight: thin;
  src: url("../assets/fonts/SF-Pro-Display-Thin.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: medium;
  src: url("../assets/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: regular;
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: bold;
  src: url("../assets/fonts/SF-Pro-Display-Semibold.otf");
}

/* Variables css */
:root {
  --dark-blue: #0e49a2;
  --dark-lighter-blue: #0b53c8;
  --lighter-blue: #0b61ee;
  --light-blue: #1e64e7;
  --secondary: #eff3fa;
  --white: #fff;
  --black: #000;
  --text-color: #2e3a59;
  --border: #a5c5fe;
  --cta-color: #d2e2ff;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "SF-Pro-Display", sans-serif;
  font-weight: regular;
  padding: 0;
  margin: 0;

  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

main {
  padding: 1em;
}

button {
  all: unset;
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover {
  transform: scale(1.1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cta-light {
  background-color: var(--white);
  margin: 0.7em 0;
  padding: 0.5em 1.5em;
  border-radius: 0.25em;
}

.cta-blue {
  color: var(--white);
  background-color: var(--light-blue);
  padding: 0.5em 1.5em;
  border-radius: 0.25em;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cta-blue > img {
  margin-left: 0.5em;
}

.cta-language {
  background-color: var(--cta-color);
  color: var(--black);
  border: 1px solid (var(--border));
  border-radius: 1.5em;
  font-size: 1rem;

  padding: 0.5em 1.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cta-language > img {
  margin-left: 0.2em;
}

/* main > section {
  opacity: 0;
  transition: 1s ease-in-out;
  transform: translate(-550px);
}

.observed {
  opacity: 1;
  transform: translate(0px);
} */

/* HOME SECTION */

#home {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 6em 1em;
}

#home div {
  flex: 1;
  margin: auto;
  margin: 0.5em 0;
}

#home .cta-language:first-child {
  margin-right: 0.2em;
}

#home div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home div > h2 {
  font-size: 1.7rem;
  padding: 0.3em 0;
}

#home div > h2 > span {
  color: var(--light-blue);
}

#home div > p {
  font-size: 1.2rem;
  padding: 0.5em 0;
}

#home div > img {
  max-width: 100%;
  max-height: 100%;
  display: none !important;
}

/* FUNCTIES SECTION */

.service > h2 {
  font-size: 2.25em;
  color: var(--light-blue);
  padding: 0.4em;
  text-align: center;
}

.service .service-container > h3 {
  font-size: 1.4rem;
  color: var(--light-blue);
  padding: 0.4em 0;
}

.service .service-container {
  background-color: var(--secondary);
  border-radius: 1em;

  padding: 4em 1em;
  margin: 0.5em;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service .service-container > img {
  max-width: 35%;
  max-height: 35%;
  margin-bottom: 0.5em;
}

.service > .service-grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

/* info section (Wat heeft u nodig) */

.info {
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.info div {
  flex: 1;
}

.info .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info .image-container > img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 0.5em;
}

.info .text-container > h2 {
  font-size: 2rem;
  color: var(--light-blue);
}

.info .text-container > p {
  font-size: 1.2rem;
  padding-bottom: 0.5em;
}

/* CARDS SECTION */

.cards .cards-container > h3 {
  color: var(--light-blue);
  padding-top: 1em;
  font-size: 1.4rem;
}

.cards .cards-container > h4 {
  font-size: 1.2rem;
  padding: 0 0 0.8em 0;
}

.cards .cards-container > p {
  font-size: 1rem;
}

.cards .cards-container {
  background-color: var(--secondary);
  border-radius: 1em;
  padding: 2em;
  margin: 0.5em;
}

.cards .cards-container > img {
  min-width: 200px;
  max-width: 70%;
  max-height: 70%;
  display: block;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
}

/* ABOUT SECTION */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);

  margin-top: 2em;
}

.about-container div {
  flex: 1;
  margin: 2rem;
}

.about-container div > h3 {
  color: var(--light-blue);
  padding: 0.4em 0;
  font-size: 2rem;
}

.about-container div > p {
  font-size: 1.2rem;
}

.about-container div > img {
  border-radius: 1rem;
  max-width: 90%;
  max-height: 90%;
}

/* FOOTER */
footer {
  background-color: var(--light-blue);
  height: auto;
  position: relative;
  overflow: hidden;
}

footer a,
footer h3,
footer .footer-title {
  text-decoration: none;
  color: var(--white);
}

footer .footer-title {
  font-weight: bold;
  font-size: 1.3rem;
}

footer h3 {
  font-size: 1.6rem;
}

footer > .footer-wrapper,
footer .footer-copyright-wrapper {
  margin: 1em;
}

footer .footer-copyright-wrapper {
  max-width: 750px;
  color: var(--white);
  border: 0;
  border-top: 0.1em;
  border-style: solid;
  padding: 1.5em 0;
}

footer ul .footer-title {
  margin-top: 0.5em;
}

@media (min-width: 40em) {
  #home div > h2 {
    font-size: 1.9rem;
  }

  .service > h2 {
    text-align: left;
  }

  .service > .service-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .service .service-container > h3 {
    font-size: 1.625rem;
  }

  .service .service-container > p {
    font-size: 1.2rem;
  }

  footer {
    margin: 0 auto;
  }

  footer .footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  footer .footer-wrapper ul {
    margin-left: 1.5em;
  }

  footer .footer-copyright-wrapper {
    margin: 0 auto;
  }
}

@media (min-width: 65em) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .cards .cards-container {
    background-color: var(--secondary);
    border-radius: 1em;
    padding: 2em;
    margin: 4em 4em 0 4em;
  }

  .cards .cards-container > h3 {
    font-size: 1.8rem;
  }

  .cards .cards-container > h4 {
    font-size: 1.4rem;
  }

  .cards .cards-container > p {
    font-size: 1.2rem;
  }

  .result {
    grid-column: 1/3;
    max-width: calc(50% - 12em);
    margin-left: calc(25% + 4em) !important;
  }

  .info {
    margin: 2em;
    flex-direction: row;
  }
}

@media (min-width: 70em) {
  #home {
    flex-direction: row;
    padding: 10em 4em;
  }

  #home div > h2 {
    font-size: 2.5rem;
  }

  #home div > p {
    font-size: 1.5rem;
  }

  #home div > img {
    display: block !important;
  }

  .cta-light {
    margin-right: 1em;
  }

  .service > .service-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-container {
    flex-direction: row !important;
  }

  .about-container div {
    margin: 2em 4em;
  }
}
